*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* SEZIONE NAV */
#container-header{
  background-color: rgb(173, 216, 231) ;
  background: url(../img/jumbo.png);
  background-size: cover;
  height: 60vh;
}

nav ul {
 list-style-type: none;
 display: flex;
 justify-content: center;
 flex-grow: 1;
 height: 100%;
}

ul li{
  padding: 8px 20px;
}

a{
  text-decoration: none;
  color: white;
}

nav{
  padding: 18px 0;
}

.container-nav{
  display: flex;
  align-items: center;
  height: 35px;
  width: 70%;
  margin: 0 auto;
}

/* BOTTONE LOGIN NAV-BAR */
#login-button{
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
}

/* SEZIONE HERO  */

.container-hero{
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.hero-details{
  width: 60%;
  margin: auto;
  border-radius: 8px;
  color: white;
}

.hero-details h1{
  margin-bottom: 25px;
  text-align: center;
  font-size: 48px;
}

.hero-details p{
  text-align: center;
  font-size: 17px;
  line-height: 26px;
}


.container-button-header{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.container-button-header button{
  border: none;
}

/* BOTTONE DOWNLOAD  */
#button-download{
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 17px;
}

/* BOTTONE OPEN  */
#button-open{
  font-size: 17px;
  padding: 12px 30px;
  border-radius: 20px;
  background-color: #23272a;
  color: white;
}

/* SEZIONE MAIN */
/* Sezione main */
.container-info{
  margin-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container-blue{
  border: 2px dashed black;
  padding-top: 50px;
  background-color: rgb(29, 144, 255);
  width: 600px; 
  height: 400px;
}

.container-pink{
  border: 2px dashed black;
  background-color: rgb(255, 193, 202);
  width: 400px; 
  height: 400px;
}

.container-info-grey{
  margin-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color:rgb(211, 211, 211) ;
}

.container-info-grey div{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-green{
  border: 2px dashed black ;
  background-color: rgb(32, 139, 33) ;
  width: 1000px;
  height: 700px;
}

/* Sezione footer */

.container-footer-black{
  padding: 20px 0;
  background-color: rgb(35, 39, 42);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-row-left{
  border: 2px dashed black;
  height: 500px;
  width: 300px;
  background-color: rgb(240, 129, 128) ;
}

.container-row{
  border: 2px dashed black;
  height: 500px;
  width: 150px;
  background-color: #22b3aa;
}

/* Sezione footer */
.container-nav-footer{
  padding: 30px 0;
  height: 100px;
  margin-top: 3px;
  background-color: rgb(35, 39, 42) ;
}

.container-under-footer{
  padding: 20px 0;
  margin: 0 auto;
  height: 70px;
  width: 60%;
  background-color: rgb(127, 255, 212) ;
  display: flex;
  justify-content: space-between;
}

#logo-footer,
#button-footer{
  border: 2px dashed black;
  line-height: 7px;
  background-color: rgb(254, 182, 191);
  padding: 10px 10px;
}

#button-footer{
  text-align: end;
}