*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* SEZIONE NAV */
#container-header{
  background-color: rgb(173, 216, 231) ;
  background: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

nav ul {
 list-style-type: none;
 display: flex;
 justify-content: center;
 flex-grow: 1;
 height: 100%;
}

ul li{
  padding: 8px 20px;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: white;
}

nav{
  padding: 18px 0;
}

.container-nav{
  display: flex;
  align-items: center;
  height: 35px;
  width: 70%;
  margin: 0 auto;
}

/* BOTTONE LOGIN NAV-BAR */
#login-button{
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
}

/* SEZIONE HERO  */

.container-hero{
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.hero-details{
  width: 60%;
  margin: auto;
  border-radius: 8px;
  color: white;
}

.hero-details h1{
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
}

.hero-details p{
  text-align: center;
  font-size: 17px;
  line-height: 26px;
}


.container-button-header{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.container-button-header button{
  border: none;
}

/* BOTTONE DOWNLOAD  */
#button-download{
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 17px;
}

/* BOTTONE OPEN  */
#button-open{
  font-size: 17px;
  padding: 12px 30px;
  border-radius: 20px;
  background-color: #23272a;
  color: white;
}

/* SEZIONE MAIN */

/* prima sezione del main */
.container-info{
  margin-top: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.picture-main{
  width: 600px;
}
.container-p-right, .container-p-left, .container-p-right-third{
  padding-top: 30px;
}
.container-info p{
  margin-top: 15px;
  line-height: 25px;
}

#title-p{
  font-weight: 800;
  font-size: 35px;
}

.container-bwaves{
  background: url(../img/wave.svg);
  height: 70vh;
}

/* seconda sezione del main */

.container-info-2{
  margin-top: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.container-p-left{
  line-height: 26px;
}

.container-info-second p{
  margin-top: 30px;
}

/* terza sezione del main */
.container-info-3{  
  margin-top: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

#picture-3-main{
  width: 500px;
}
.container-info-3 p{
  margin-top: 15px;
  line-height: 26px;
}

/* quarta sezione del main */

.container-info-4{
  margin-top: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.container-info-4 p{
  margin-top: 15px;
  line-height: 26px;
  text-align: center;
}
.container-picture-4{
  display: flex;
  justify-content: center;
  align-items: center;
}
#big-img-4{
  width: 80%;
}

/* Ultima sezione del main */
.container-action-main{
  display: flex;
  justify-content: center;
}

.bg-main{
  background: url(../img/stars.svg);
  background-size: cover;
  background-size: 100% 100%;
}

.bg-main span{
  font-size: 25px;
  font-weight: 800;
}
#container-button-download{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#container-button-download button{
  border: none;
  background-color: rgb(143, 161, 225);
  color: white;
}
/* Sezione footer */

 .container-footer-black{
  color: white;
  margin-top: 150px;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-all-footer{
  margin-top: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(143, 161, 225);
}

.bg-color-footer{
  background-color: rgb(35, 39, 42);;
}

.container-row-left{
  height: 400px;
  width: 300px;
}

#title-p-footer{
  color: rgb(115, 137, 218);
  font-weight: 800;
  font-size: 30px;
}

#lang-dropdown{
  margin-top: 15px;
  width: 20px;
}

#it-lang{
  color: white;
  border: none;
  background-color: transparent;
}

.container-icons{
  margin-top: 15px;
  color: white;
}


.container-row{
  height: 380px;
  width: 150px;
}

.title-row{
  color: rgb(115, 137, 218);
  padding-bottom: 40px;
}

.container-row p{
  padding-top: 12px;
  font-size: 14px;
}

/* NAV FOOTER */
.container-nav-footer{
  padding: 30px 0;
  height: 160px;
  margin-top: 3px;
  background-color: rgb(35, 39, 42) ;
}


.fa-instagram, .fa-facebook, .fa-youtube{
  padding-left: 15px;
}
.container-under-footer{
  padding: 20px 0;
  margin: 0 auto;
  height: 70px;
  width: 62%;
  display: flex;
  justify-content: space-between;
}

#button-register{
  border: none;
  background-color: rgb(143, 161, 225);
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
} 